{{#if msg}}
<h3>{{this.msg}}</h3>
<a href="javascript:history.go(-1)">Back</a>
{{/if}}
{{#each this.releases}}
<section>
  <a href="/artist/albums/{{this.id}}">{{this.title}}</a> 
  <p>{{this.year}}</p>
</section>
{{/each}}