body {
    font-family: 'Roboto', sans-serif;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: rgb(193, 191, 191);
}

// INDEX VIEW
.container {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
//   align-content:  
} 

h2 {
    display: block;
    width: 100%;
    // background-color: aqua;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}

span {
    font-family: 'Cinzel', serif;
    font-size: 28px;
}

.item {
    flex-grow: 1;
}

li {
    display: inline;
    padding: 10px;
    list-style: none;
}

li img {

}
a    {
    color: gray;
    text-decoration-style: none;
}

.bandPhoto {
    height: 300px;
}
img.alineadoTextoImagenAbajo{
  vertical-align: text-bottom;  
}
.artClass {
    padding: 10px;
    text-align: center;
    // background-color: blue;
}

.review label {
    margin: 25px
}

.description {
    display: block
}

footer { 
  padding:25px;
  color: gray;
  background-color: black;
}  
.search-image {
  height:180px
}


.search {
  text-decoration: none;
  color: rgb(0, 0, 0);
    text-align: center;
    margin: 15px;


  
}
.search h3 {
    font-size: 20px;
        width: 200px;

    
}

.flex-search {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 4;
  align-content:space-around;
  text-align: center;
align-items: flex-start;

  justify-content: space-evenly;
  
}
.search:hover{
  color: black;
  text-decoration: none;
}