body {
    font-family: 'Roboto', sans-serif;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: space-between
} 


.review label {
    margin: 25px
}

.description {
    display: block
}

footer {
  padding: 50px;
  color: gray;
  background-color: black;
}  